* {
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
}

.img-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn-defensa-consumidor {
    padding: 5px;
    background-color: rgb(179, 176, 176);
    border-radius: 20px;
    text-decoration: none;
    color: black;
}